@import '../../style/typography.scss';
@import '../../style/sass-vars.scss';

$auth-desktop-width: 1440px;

.main {
	width: 100vw;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

.form {
	flex-direction: column;
	align-items: center;
}

.googleBtn {
	color: var(--light-text);
}

.signup {
	gap: toRem(8px);
	color: light-dark(var(--gray-light-mode--600), var(--gray-dark-mode--600));
	justify-content: center;
	padding: toRem(12px);

	a {
		font-weight: var(--font-weight-semibold);
	}
}

.wrap {
	height: 100vh;
	width: 100%;
	justify-content: center;

	@media (min-height: 1024px) {
		height: 1024px;
		align-items: center;
	}

	@media (min-width: $auth-desktop-width) {
		width: $auth-desktop-width;
	}
}

.auth {
	justify-content: center;
	width: 50%;

	@media (max-width: $breakpoint-desktop) {
		width: fit-content;
	}
}

.auth_wrap {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: toRem(360px);
	padding: toRem(12px);
	flex-direction: column;
	align-items: center;

	@media (max-width: $breakpoint-desktop) {
		width: 100%;
	}

	form {
		padding-top: toRem(16px);
		button {
			margin-top: toRem(24px);
		}
	}

	h1 {
		@include font-size(display-sm);
		font-weight: var(--font-weight-semibold);
		padding-top: toRem(22px);
		padding-bottom: toRem(12px);
	}
}

.logo {
	height: toRem(64px);
	width: toRem(64px);
	box-shadow: var(--shadow--sm);
	border-radius: 50%;
	padding: toRem(8px);
}

.passwd {
	width: 100%;
	justify-content: flex-end;
	@include font-size(sm);
	font-weight: var(--font-weight-semibold);
}

.ni {
	padding: 0;
	width: toRem(550px);
	gap: toRem(24px);
	flex-direction: column;
}
.niCta {
	margin-top: toRem(32px);
	justify-content: right;
}

.niTitle {
	flex-direction: column;
	h2 {
		@include font-size(lg);
		font-weight: var(--font-weight-semibold);
	}

	p {
		@include font-size(sm);
	}
}
